[run]
omit =
skopt2/**init**.py # these are our tests, don't count them towards coverage
skopt2/tests/\*

[report]
exclude_lines =

# Don't complain about packages we have installed

except ImportError
